
   body {
   padding:0;
   box-sizing: border-box;
   max-width:1600px;
   margin:0 auto; 
  }
  
 main {
margin:0 15px;
}

/* header */
  header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  flex-basis: 97%;
  margin:0 15px;
}
nav ul{
  display:flex;
  list-style:none;
}
nav ul li{
  padding-left:50px;

}

header a{
  font:500 15px 'Raleway', sans-serif; 
  text-decoration:none;

}
nav ul li a:hover{
  color: #0065FC;
   border-top:2px solid #0065FC;
   padding-top:30px;
}

.btn-inscrire1{
  display:none;
  color:#0065FC;
}
.btn-inscrire2{
  visibility:visible;
  color:#0065FC;
    
}

/* titre */

.Titre h1{
  font:600 22px 'Raleway', sans-serif;
  margin-bottom:5px;
 
}
.Titre p{
  font: 500 15px 'Raleway', sans-serif;
  color: rgb(71, 71, 71);
  margin-bottom:20px;
 
}
/* fin de titre */

/* reacherche */

.Rechercher{
  display:flex;
  flex-flow:row wrap;
  border-radius:10px;
     
}
.map{
 border-radius:10px 0 0 10px ;
 padding:11px;
 background-color:#F2F2F2;
 border: none;
 width:50px;
}
map:hover{
  background-color:rgb(240, 234, 234);
}
input {
  border:2px solid rgb(247, 245, 245);
  padding:15px 0 10px 20px;
  border-left:none ;
}
::placeholder{
  font-weight:bold;
   color: rgb(17, 16, 16);
}
.espaceblue{
  border-radius:0 10px 10px 0;
  padding:15px 12px;
  background-color:#0065FC;
  border:none;
  color:white;
  
}
.espaceblue:hover{
  background-color: blue;
}
.mob-cherchebtn{
  display: none;
}

/* fin de recherche */

/* debute de Filtres */

.Filtres{
  display: flex;
}
.filtres-contenu{
  display: flex;
  flex-flow: row wrap;
}
.paragraph{
  font: 600 13px 'Raleway', sans-serif;
  margin-top:40px;
}
.contenu{
  display: flex;
}
.contenu i {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color:#F2F2F2;
  width:36px;
  height:36px;
  border-radius:50%;
  background-color:#DEEBFF;
  color:#0065FC;
}
.contenu p{
  font: 600 13px 'Raleway', sans-serif;
   padding:7px 0 20px 10px;  
}

.contenu{
  border:2px solid rgb(231, 229, 229);
  width:fit-content;
  height:36px;
  border-radius:40px;
  margin:30px 20px 25px 15px;
  padding-right: 10px;
 
}
.contenu:hover{
   background-color: #f5f6f7;
   cursor: pointer;
}
/* fin d Filtres */

/* debute d'info */

.info{
  display:flex;
  padding:0 0 15px 0px;
 }

.info .fas{
  font-size:12px;
  color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px rgb(214, 210, 210) solid;
  width:17px;
  height:17px;
  border-radius:50px;
 margin-top:3px ;
}
.info p{
  font:300 14px 'Raleway', sans-serif; 
  color:rgb(71, 70, 70);
  padding-left:5px;
} 
  /* fin d'info */
/* fin de header */

  /* debute de section */

  /* section location */

  /* section d'article */
.hebergement{
  display:flex;
  background-color: #F2F2F2;
  width:67%;
  min-height:650px;
  border-radius:12px;
  
}
.carte-conteneur{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  height:auto;
   
}

.carte img{
width:100%;
height:150px;
border-radius:10px 10px 0 0;
object-fit: cover;
}
.carte{
  display:block;
  width:28%;
  height:230px;
  background-color:white;
  border: 5px rgb(255, 255, 255) solid;
  margin:10px;
  border-radius:10px;
 
}
.hebergement p{
  font: 500 12px 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
}
.hebergement h2{   
 font: 600 18px 'Raleway', sans-serif; 
 padding:20px 0 0 30px; 
 margin-bottom:0;

}  
.hebergement h3{
  font:600 14px 'Raleway', sans-serif;
}
.carte:hover{
  background-color:rgb(238, 235, 235);
  opacity:0.9; 
}
.carte .fa{
  color:rgb(238, 234, 234);
 font-size:12px;
letter-spacing:-10px;
}
.carte-conteneur  h3,p,.fa{
  margin:5px ;
} 
.carte  .checked{
  color: #0065FC;
} 
.plus{
  padding:15px 0 0 30px;
}
.plus a{
  color: rgb(22, 22, 22);
  padding:30px 0 0 20px;
  font:600 14px 'Raleway', sans-serif;
  text-decoration: none;
}

.plus a:hover{
  color: #0065FC;   
}
span{
   font-weight:bold;
   color:black;
}
 /* fin de sectiond'article */

 /* debute de section aside */
.location{
  display:flex;
}

.populaire{
  display: flex;
  /* flex-flow:row ;
  flex-wrap:wrap; */
  position: relative;
  background-color:#F2F2F2;
  width:35%;
  margin-left:20px;
  border-radius:10px;
}
.aside-carte img{
  width:145px;
  height:100%;
  border-radius:10px 0 0 10px;
  object-fit: cover;
  float:left;
  margin-right:5px;
}
.aside-carte{
  display: flex;
  width:90%;
  height:150px;
  border:rgb(255, 255, 255) solid 5px;
  background-color:white;
  border-radius: 10px;
  margin-bottom:20px;  
}

.conteneur-asidecarte{
  display:flex;
   flex-flow:row wrap;
  justify-content: center;
}
.populairecontainer h2{
  font:600 17px 'Raleway', sans-serif; 
   padding:25px 0 0 20px;
   margin-bottom:10px;
   }
.populairecontainer h3{
  font:700 13px 'Raleway', sans-serif;
  margin:10px 0 0  5px;
}

.populairecontainer .fas{
position:absolute;
top:40px;
right:20px;
}
.populairecontainer p{
  font: 500 12px 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
}

.populairecontainer .fa{
  padding-top:70px;
  font-size:10px;
   font-size:11px;
  color:rgb(230, 225, 225);
  letter-spacing:-12px;
}

.populairecontainer .checked{
  color:  #0065FC;
}
.aside-carte:hover{
  background-color:rgb(241, 241, 241);
  opacity:0.9;
  border-radius:10px 0 0 10px;
}
/* fin de section aside */

/* section activite */

#header-activite{
  font: 600 20px 'Raleway', sans-serif;
  padding-left:0px;
  margin:25px 0 0 20px;
}
.carte-activite-conteneur p{
  font: 600 15px 'Raleway', sans-serif;
  padding-left:10px;
  
}
.carte-activite-conteneur img{
  object-fit:cover;
  /* height:auto; */
} 
.carte-longue img{
  width:100%; 
  height:360px;
  border-radius:12px 12px 0 0;
 
}
.carte-longue{
  width:27%;
  border:1px solid rgb(238, 236, 236);
  background-color:white;
  margin:12px;
  height:394px;
  box-shadow:1px 1px 1px 0.9px rgb(235, 235, 235);
  border-radius:12px;
}
.carte-activite{
  width:26%;
  border-radius:12px 12px 0 0;
  margin:12px; 
}

.carte-activite img{
  width:100%;
  height:153px;
  border-radius:10px 10px 0 0;
}
.carte-courte{
  border:1px solid rgb(236, 234, 234);
  background-color:white;
  box-shadow:1px 1px 1px 0.5px rgb(243, 241, 241);
  border-radius:12px;
  margin-bottom:22px;
  height:186px;
 }
.carte-activite-conteneur{
  display:flex;
  justify-content:center; 
} 
.carte-courte:hover{ 
  background-color:rgb(241, 241, 241);
  opacity:0.9;
}
.carte-longue:hover{
  background-color:rgb(241, 241, 241);
  opacity:0.9;
}
 .activite{
   display:flex;
   flex-flow:row wrap;
   width:100%;
} 

/* Fin de section d'activite */

/* debute de footer */

footer{
  display:flex;
  flex-flow:row wrap;
  width:100%;
  height:auto;
  background-color: #F2F2F2;
  margin-top:20px;
}
footer h2{
  font: 600 15px 'Raleway', sans-serif;
}

footer ul{
  padding-left:35px;
  list-style:none;    
}
footer ul li{
  padding-right:230px;
}

footer ul li a{
  font: 400 13px 'Raleway', sans-serif;
  color:rgb(102, 100, 100);
  text-decoration: none; 
}
footer ul li a:hover{
  color:#0065FC;
} 
@media screen and (min-width:663px) and (max-width:1024px){
   header{
     margin:0 15px;
   }
  main{
    margin:0 15px;
  }
 
  .btn-inscrire1{
    display:none;
  }
  .btn-inscrire2{
   visibility: visible;
  }
   .location{
     display:block;
   }
   .contenu{
     margin:30px 10px;
   }
  .hebergement{
    width:100%;
    border-radius:0;
}
  
.hebergement h2{
    padding-left:20px;
  }
  
  .carte img{
    width:100%;
  }
   .carte{
     display:block;
     width:45%;
  
  }
  .populaire{
    display:flex;
    flex-direction:row;
    width:100%;
    margin:15px 0 0 ;
    height:500px;
    border-radius:0;
  }
 
.populairecontainer .fas{
    right:30px;
    }
.populairecontainer .fa{
   padding-top:0px;
  }
.populairecontainer h3{
  padding-top:10px;
}

.aside-carte img{
    width:100%;
     border-radius:12px 12px 0 0;
     height:300px;
}

.aside-carte{
  width:28.5%;
  display:block;
  margin:0 10px;
  height:80%;
  
}

.populairecontainer h2{
  font-size:17px;
  padding-left:40px;
} 
.carte-activite-conteneur{
  display:flex;
   flex-flow: row wrap;
   justify-content:space-between;
}
}
.carte-longue{
  width:46%;
}
.carte-longue img{
  width:100%;
}
.carte-activite{
  width:46%;
  height:auto;
}
.carte-activite img{
  width:100%;
}

@media screen and (min-width:100px) and (max-width:662px){
 
  body{
    min-width:fit-content;
  }
 main{
    margin:0 15px;
  }  
header{
 display:flex; 
  flex-wrap: wrap;
  justify-content: center;
  border-bottom:1px solid gray;
  margin:0 15px;
 
}
.btn-inscrire2{
  display:none;
}
.btn-inscrire1{
  padding:18px 30px 0 0;
  display:block;
}
.btn-inscrire1:hover{
  border-bottom:2px solid #0065FC;
}
.contenu{
  margin: 10px;
}

 .group-nav{
  display:flex;
  justify-content: space-between;
   flex-basis:100%;
} 
nav{
  display:flex;
  flex-wrap:wrap;
  flex-basis:100%;
}
nav ul{
  display:flex;
  justify-content:space-between;
  border-bottom:2px solid #0065FC;
  width:45%;
  padding-bottom:20px;
  margin-bottom:0;
}
 .btn-activite:hover{
  border-bottom:2px solid #0065FC;
  padding-bottom:20px;
  flex-basis:100%;
 
  
 }
 .btn-activite{
   padding-left:30px;
 }
nav ul li a:hover{
  border-top:none;
}
.populaire img{
  width:135px;
}
.aside-carte{
  height:155px;
}
.populairecontainer .fa{
  padding-top:45px;
}


.Filtres{
    display:block;
}
.filtres-contenu{
  display:flex;
  flex-flow:row wrap;
  padding-right:30px;
}
.contenu {
  padding-right:25px;
  margin:0 20px;
}

.btn-hebergement{
  border-top:none;
}
.mob-cherchebtn{
  display:block;
  background-color:#0065FC;
  color:white;
  width:45px;
  border-radius:10px;
  border:none;
  
}
.espaceblue{
  display:none;
}
input{
  display:flex;
  width:40%;
  padding-left:10px;
  border-right:none;
}
.contenu{
  margin:14px 10px 0 0;
}
.info{
  margin-top:20px;
}
  .location{
    display:flex;
    flex-direction:column-reverse;
  }
  .populaire{
    width:100%;
    margin-left:0;
    border-radius:0;
    margin-bottom:20px;
  }
  .populairecontainer h2{
    padding-left:25px;
  }
  .aside-carte img{
    width:150px;
  }
  .hebergement{
    width:100%;
    border-radius:0;
    margin-top:20px;
  }
  .hebergement h2{
    padding-left:20px;
  }
  .carte{
    width:95%;
  }
  .carte-longue{
    width:100%;
     height:186px;
  }
  .carte-activite-conteneur{
    display:flex;
    flex-flow:row wrap;
  }
  .carte-longue img{
    height:155px;
  }

  .carte-activite{
    width:100%;
  }
  #header-activite{
    padding-left:0px;
  }

   }

  
/* FIN DE CSS*/