   
   /* TODO
    toutes les images et cartes
   -image: ajoute min-width et min-height max- width et max-height
   - image et carte  mettre width en pourcentage 
   
   -résponsive:commencer la media query de 375px
   */


 /* debut de body */
body{
   margin:0;
   padding:0;
   box-sizing: border-box;

}
header{
 padding:0 15px;
}

nav {
  display: flex;
 justify-content: space-between;
 padding-top:30px;
}

nav ul{
display: flex;
flex-flow:row wrap;
list-style:none;
}
nav ul li{
padding-left:40px; 
}
nav ul li a{
font: 500 14px 'Raleway', sans-serif;
color: rgb(66, 65, 65);
text-decoration: none;
}
nav ul li a:hover{
color: #0065FC;
border-top:#0065FC 2px solid;
padding-top:40px;

}

.active1{
color:#0065FC;
border-top:#0065FC 2px solid;
padding-top:40px;
}
.Titre h1{
  font:600 22px 'Raleway', sans-serif;
  margin-bottom:5px;
 
}
.Titre p{
  font: 500 15px 'Raleway', sans-serif;
  color: rgb(71, 71, 71);
  margin-bottom:20px;
 
}
/* fin de titre */

.Rechercher{
  display:flex;
  flex-flow:row wrap;
  width:330px;
  border-radius:10px;
     
}
.map{
 border-radius:10px 0 0 10px ;
 padding:11px;
 background-color:#F2F2F2;
 border: none;
 width:50px;
}
map:hover{
  background-color:rgb(240, 234, 234);
}
input {
  border:2px solid rgb(247, 245, 245);
  padding:15px 0 10px 20px;
  border-left:none ;
}
::placeholder{
  font-weight:bold;
   color: rgb(17, 16, 16);
}
.espaceblue{
  border-radius:0 10px 10px 0;
  padding:15px 12px;
  background-color:#0065FC;
  border:none;
  color:white;
  
}
.espaceblue:hover{
  background-color: blue;
}
.mob-cherchebtn{
  display: none;
}

/* debute de Filtres */

.Filtres{
  display: flex;
}
.filtres-contenue{
  display: flex;
  flex-flow: row wrap;
}
.paragraph{
  font: 600 13px 'Raleway', sans-serif;
  margin-top:40px;
}
.contenue{
  display: flex;
}
.contenue i {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color:#F2F2F2;
  width:36px;
  height:36px;
  border-radius:50%;
  background-color:#DEEBFF;
  color:#0065FC;
}
.contenue p{
  font: 600 13px 'Raleway', sans-serif;
   padding:7px 0 20px 10px;  
}

.contenue{
  border:2px solid rgb(231, 229, 229);
  width:fit-content;
  height:36px;
  border-radius:40px;
  margin:30px 20px 25px 15px;
  padding-right: 10px;
 
}
.contenue:hover{
   background-color: #f5f6f7;
   cursor: pointer;
}

/* debute d'info */

.info{
  display:flex;
  padding:0 0 15px 15px;
 }

.info .fas{
  font-size:12px;
  color: #0066ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px rgb(214, 210, 210) solid;
  width:17px;
  height:17px;
  border-radius:50px;
 margin-top:3px ;
}
.info p{
  font:300 14px 'Raleway', sans-serif; 
  color:rgb(71, 70, 70);
  padding-left:5px;
} 
/* fin d'info */

.hebergement{
  display:flex;
  justify-content: center;
  background-color: #F2F2F2;
  width:67%;
  min-height:650px;
  border-radius:12px;
  
}
.carte-conteneur{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  width:100%;
  height:auto;
   
}

.carte img{
min-width:250px;
height:150px;
border-radius:10px 10px 0 0;
object-fit: cover;
}
.carte{
  display:flex;
  flex-flow:row wrap;
  width:250px;
  height:230px;
  background-color:white;
  border: 5px rgb(255, 255, 255) solid;
  margin:10px;
  border-radius:10px;
 
}
.hebergement p{
  font: 500 12px 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
}
.hebergement h2{   
 font: 600 18px 'Raleway', sans-serif; 
 padding:20px 0 0 20px; 
 margin-bottom:0;

}  
.hebergement h3{
  font:600 14px 'Raleway', sans-serif;
}
.carte:hover{
  background-color:rgb(238, 235, 235);
  opacity:0.9; 
}
.carte .fa{
  color:rgb(238, 234, 234);
 font-size:12px;
letter-spacing:-10px;
}
.carte-conteneur  h3,p,.fa{
  margin:5px ;
} 
.carte  .checked{
  color: #0065FC;
} 
.plus{
  padding:15px 0 0 30px;
}
.plus a{
  color: rgb(22, 22, 22);
  padding:30px 0 0 20px;
  font:600 14px 'Raleway', sans-serif;
  text-decoration: none;
}

.plus a:hover{
  color: #0065FC;   
}
span{
   font-weight:bold;
   color:black;
}
 /* fin de hébergement */

.location{
  display:flex;
  justify-content:center;
}

.populaire{
  display: flex;
  flex-flow:row ;
  flex-wrap:wrap;
  position: relative;
  background-color:#F2F2F2;
  width:30%;
  margin-left:10px;
  border-radius:10px;
}
.aside-carte img{
  width:100%;
  height:auto;
  width:160px;
  height:145px;
  border-radius:10px 0 0 10px;
  object-fit: cover;
   float:left;
  margin-right:5px;
}
.aside-carte{
  display: flex;
  flex-flow:row wrap;
  width:200px;
  width:90%;
  min-height:150px;
  border:rgb(255, 255, 255) solid 5px;
  background-color:white;
  border-radius: 10px;
  margin-bottom:20px;  
}

.conteneur-asidecarte{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}
.populairecontainer h2{
  font:600 17px 'Raleway', sans-serif; 
   padding:25px 0 0 20px;
   margin-bottom:10px;
   }
.populairecontainer h3{
  font:700 13px 'Raleway', sans-serif;
  margin:10px 0 0  5px;
}

.populairecontainer .fas{
position:absolute;
top:40px;
right:20px;

}
.populairecontainer p{
  font: 500 12px 'Raleway', sans-serif;
  color: rgb(68, 68, 68);
}

.populairecontainer .fa{
  padding-top:55px;
  font-size:10px;
   font-size:11px;
  color:rgb(230, 225, 225);
  letter-spacing:-12px;
}
.group1 .fa, .group3 .fa{
  padding-top:70px;
}
.populairecontainer .checked{
  color:  #0065FC;
}
.aside-carte:hover{
  background-color:rgb(241, 241, 241);
  opacity:0.9;
  border-radius:10px 0 0 10px;
}


/* fin de section populaire */


/* section activite */

#header-activite{
  font: 600 20px 'Raleway', sans-serif;
  padding-left:15px;
  margin-top:20px;
}
.carte-active-conteneur p{
  font: 600 15px 'Raleway', sans-serif;
  padding:0 10px;
}
.carte-active-conteneur img{
  width:292px;
  object-fit:cover;
  height:auto;
}
.carte-longue img{
  height:360px;
  border-radius:12px 12px 0 0;
 
}
.carte-longue{
  border:1px solid rgb(238, 236, 236);
  background-color:white;
  margin:10px;
  height:394px;
  box-shadow:1px 1px 1px 0.5px rgb(214, 211, 211);
  border-radius:12px;
}
.carte-courte img{
  height:155px;
  border-radius:12px 12px 0 0;
}
.carte-courte{
  border:1px solid rgb(236, 234, 234);
  background-color:white;
  margin:10px 10px 20px 10px;
  box-shadow:1px 1px 1px 0.5px rgb(214, 211, 211);
  border-radius:12px;
 }
.carte-active-conteneur{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;


}
.carte-courte:hover{ 
  background-color:rgb(241, 241, 241);
  opacity:0.9;
}
.carte-longue:hover{
  background-color:rgb(241, 241, 241);
  opacity:0.9;
}


/* debute de footer */

footer{
  display:flex;
  flex-flow:row wrap;
  width:100%;
  height:auto;
  background-color: #F2F2F2;
  margin-top:20px;
}
footer h2{
  font: 600 15px 'Raleway', sans-serif;
}

footer ul{
  padding-left:15px;
  list-style: none;    
}
footer ul li{
  padding-right:180px;
}

footer ul li a{
  font: 400 13px 'Raleway', sans-serif;
  color:rgb(102, 100, 100);
  text-decoration: none; 
}
footer ul li a:hover{
  color:#0065FC;
}

@media screen and (max-width:376px) {
  nav{
    display:block;
   
  }
  nav ul{
    display:flex;
    justify-content: center;
    padding-left:10px;
    margin-top:10px;
    border-bottom:2px rgb(207, 207, 207) solid;
  }
  nav ul li{
    padding:0 30px;
  }
  
  .active2{
    position:relative;
    bottom:60px;
    left:120px;
}
.active1,.mob-act:hover{
  border-bottom:2px solid #0065FC;
  padding-bottom:18px;
}
  .active1{
    border-top:none;
    margin:0 auto;
    
   }
   nav ul li a:hover{
    border-top:none;
   }
   .Titre p{
     margin-left:0;
   }
   
.espaceblue{
  display: none;
  
}
input{
  border-right:none;
}
.mob-cherchebtn{
  display:block;
  background-color:#0065FC;
  color:white;
  width:40px;
  margin-right:30px;
  border-radius:10px;
  border: none;
}
   .Filtres{
     display:flex;
     flex-direction:column;
   }
   .filtres-contenue{
    display: flex;
    flex-flow: row wrap;
  }
  .contenue{
    margin:15px 15px 10px 0px;
  }
  .location{
    display:flex;
    flex-direction:column-reverse;
  }

 .populaire{
   display:flex;
   background-color:#F2F2F2;
   width:100%;
   margin-left:0;
   border-radius:0;
 }
 .populaire h2{
   padding-left:17px;
 }
 .populairecontainer .fas{
  right:15px;
  
  }
 .hebergement{
  display:flex;
  background-color:transparent;
  width:100%;
  margin-top:20px;
 }
 .carte{
   width:340px;
   height:200px;
   box-shadow:2px 2px 2px 0.9px rgb(231, 229, 229);
    
 }
 .plus{
   padding:0;
 }
 .carte img{
   width:340px;
   height:130px;
 }
 .carte-courte img{
  width:340px;
  height:150px;
 }
 
 .carte-longue img{
  width:340px;
  height:150px;
 }
 .carte-longue {
  width:340px;
  height:180px;
 }
 #header-activite{
   padding-left:20px;
   margin-bottom:5px;
 }
 
 

}
 
 





